<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
      </head>           
    <body>
        <h1><%= title %>
            <%- include('header', {}); %>
        </h1>
    <ul>
        <form method="POST" action="/new">
            <input type="text" id="name" name="name" required>       
            <input type="text" id="message" name="message" required>       
            <button type="submit">submit</button>
         </form>
      </ul>      
  </body>
</html>
