<div class="msg">
    <div class="msg-text"><%= value.message %></div>
    <div class="msg-info">
        <div class="msg-content">
            <%= value.name %>
            <%= value.created_at %>
        </div>
        <form method="POST" action="/message/<%= value.id %>">
            <button type="submit">read</button>
        </form>
    </div>
    
    
</div>
  